
<html xmlls:th="http://www.thymeleaf.org">
    <head>
        <title>Bienvenidos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>HulkStore</div>
        <h1>Biendenidos</h1>      
        <a th:href="@{/todouno/HulkStore/listProducts}"><button>Lista de Productos</button></a>         
        <a th:href="@{/todouno/HulkStore/newbuy}"><button>Nueva Compra</button></a>        
    </body>
</html>
